LLM_RELAY_BASE_URL=
LLM_RELAY_API_KEY=
CODEUP_BASE_URL=https://devops.aliyun.com
CODEUP_ACCESS_TOKEN=
CODEUP_ORGANIZATION_ID=
SOFTWARE_DELIVERY_LOCAL_GIT_ROOT=/Users/gongxiude/Documents/my-world
ARGOCD_API_URL=
ARGOCD_AUTH_TOKEN=
ARGOCD_VERIFY_TLS=true
JENKINS_MCP_URL=
JENKINS_MCP_TOKEN=
