# gitops-agent required environment variables
LLM_RELAY_BASE_URL=
LLM_RELAY_API_KEY=
CODEUP_BASE_URL=
CODEUP_ACCESS_TOKEN=
CODEUP_ORGANIZATION_ID=
SOFTWARE_DELIVERY_WORKSPACE_ROOT=
GITOPS_YUEXIN_INFRA_REMOTE=git@codeup.aliyun.com:6316fd51cb9d00684879aa3a/devops/yuexin-infra.git
GITOPS_YUEXIN_INFRA_BRANCH=master
GITOPS_JENKINS_PIPELINE_REMOTE=git@codeup.aliyun.com:6316fd51cb9d00684879aa3a/devops/jenkins-pipeline.git
GITOPS_JENKINS_PIPELINE_BRANCH=master
ARGOCD_SERVER=
ARGOCD_TOKEN=
